html, body {
    margin: 0;
    height: 100%;
}


body{
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top left, #182233 10%, #3B5970 90%) !important; /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(top left, #182233 10%, #3B5970 90%) !important; /* FF3.6+ */
    background:     -ms-linear-gradient(top left, #182233 10%, #3B5970 90%) !important; /* IE10 */
    background:      -o-linear-gradient(top left, #182233 10%, #3B5970 90%) !important; /* Opera 11.10+ */
    background:         linear-gradient(top left, #182233 10%, #3B5970 90%) !important; /* W3C */
    background-color: none;
}

.centered{
    margin: 0 auto;
}

.content {
    width: 300px;
    background: transparent;
    padding: 5px;
    margin-top: 100px; 
    z-index: 300;
    position: relative;
    clear: both;
}

.brand{
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}

.form-signin{
    margin: 6px;
}

.form-signin .forgot{
    margin: 1em 1em 2em 1em;
    color: #5A88AB;
}

.form-signin .btn-container{
    margin: 1.5em 1em 0;
}

.form-signin .btn-container .btn{
    background-color: #476D87;
    color: #fff;
    
}

.container .alert{
    margin: 12px 1.75em 6px;
    display: none;
    padding: 12px;
    background-color: #D43F00 !important;
    color: white;
    font-size: 12px;
}

.input-field-container {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1.5em 1em 1em;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input-field {
	position: relative;
	display: block;
	width: 60%;
	border: none;
	-webkit-appearance: none; /* for box shadows to show on iOS */
    padding: 0.8em 0.25em;
	width: 100%;
	background: transparent;
	color: #fff;
	font-size: 1em;
    border-bottom: 4px solid #3B5970;
    border-top: 4px solid #3B5970;
    
}

.input-field:focus {
	outline: none;
}
