/*
 *
 * author: Kyel John David
 * Style tweaks
 * --------------------------------------------------
 */
html, body, .container-fluid {
    height: 100%;
    min-width: 600px;
}
body > .container-fluid {
    height: auto;
    min-height: 100%;
    padding-bottom: 60px;
}

body {
    height: 100%;
    padding-top: 45px;
    background-color: #f5f5f5;
}
footer {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -33%;
    }

    .row-offcanvas-left.active {
        left: 33%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 33%;
        margin-left: 10px;
    }
}


/* Sidebar navigation */
.nav-sidebar {
    background-color: #f5f5f5;
    margin-right: -15px;
    margin-bottom: 20px;
    margin-left: -15px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}
/*
 * Icons
 */

.icon-left {
    margin-right: 5px;
}

.icon-right{
    margin-left: 5px;
}


/*
 * Centered Elements
 */
.centered{
    margin: 0 auto;
    float: none !important;
}

/*
 * Zero Elements Override
 */

.no-padding{
    padding: 0 !important;
}

.no-padding-left{
    padding-left: 0 !important;
}

.no-padding-right{
    padding-right: 0 !important;
}

.no-margin-top{
    margin-top: 0px !important;
}

/*
 * SEARCH PAGE CSS
 */
.search-group{
    padding: 40px 0 40px 0;
}

.grid-product-container {
    box-shadow: 0 2px 5px 0;
    padding: 10px;
    margin-bottom: 20px;

}

.product-image-container{
    position: relative;
    width: 100%;
}

.product-image-container:before{
    content: "";
	display: block;
	padding-top: 100%;
}

.product-image-container .product-image{
    position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/*
 * FOOTER
 */
.footer{
    position: relative;
    background-color: #222;
    width: 100%;
    padding: 20px;
    color: #fff;
    clear: both;
    margin-top: -60px;
    height: 60px;
}

.footer .pull-right{
    vertical-align: middle;
}

.pull-right .bright{
    color: #FFC000;
}

/*
 * Style Tweaks for New Sidebar
 */

#container {
    height: auto;
    min-height: 100%;
    padding:0 0 0 250px;
    transition: all 0.4s ease 0s;
}
/*
* Override the default navbar-header width
*/
.navbar-header{
    width:200px;

}
#sidebar-container {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #222;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    transition: all 0.4s ease 0s;;
    z-index: 100;
}

#container.active {
    padding-left: 0;
}

#container.active #sidebar-container {
    left: 0;
}

#page-content-container {
    height: auto;
    min-height: 100%;
    width: 100%;

}

/*
 * Sidebar Toggle Button
 */
.sidebar-toggle {
    background-color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: transparent;
    border-radius: 4px;
    padding: 9px 10px;
    margin-top: 6px;
    display: inline-block;
}

.sidebar-toggle:hover{
    background-color: #272727;
}

.sidebar-toggle .icon-bar {
    background-color: #fff;
    display: block;
    height: 2px;
    width: 22px;
}

.sidebar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

/*
 * Sidebar Items
 */
.sidebar-nav{
    font-size: 13px;
    font-weight: 300;
    list-style: none;
    padding: 0;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

.sidebar-nav-icon{
    margin-right: 30px;
    margin-left: -15px;
    width: 36px;
}

.sidebar-nav li a {
    color: #999;
    display: block;
    text-decoration: none;
    width: 100%;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}

.sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}

.bottom-sidebar-nav{
    width: 250px;
    position: absolute;
    bottom: 45px;
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
}

.inset {
    padding: 20px;
}

@media (max-width:767px) {

    #container {
        padding-left: 0;
    }

    #sidebar-container {
        left: 0;
    }

    #container.active {
        position: relative;
        left: 250px;
    }

    #container.active #sidebar-container {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }

    .inset {
        padding: 15px;
    }

}

/*
 * Add Product Page
 */
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*
 * View Product Page
 */

#product-image{

    width:100%;
    height:100%;

}

.product-panel-dropdown{
    color: #fff;
}

.product-panel-dropdown-menu{
    font-size: 13px;
}

.product-panel-dropdown:focus{
    color: #fff;
}

.product-panel-dropdown:hover{
    color: #fff;
}

/*
 * Content Panel
 */

.content-panel{
    margin: 15px;
}

.content-panel .row{
    margin: 0px;
}

/*
 * Checkout Page
 */

.remove-btn{
    margin-top: 25px;
    margin-left: 25%;
}

.total{
    font-size: 3.5em;
}

.add-btn-container{
    width: 38px;
}

.confirm-checkout{
    margin-top: 25px;
}

/*
 * Receipt Page
 */
.back-to-dashboard{
    margin-right: 15px;
}
.receipt-page-bg-text{
    font-size: 2em;
}

.transaction-number{
    font-size: 19px;
}

.receipt-table td:nth-child(2), .receipt-table th:nth-child(2), .receipt-table td:nth-child(3), .receipt-table th:nth-child(3){
    text-align: right;
}

/*
 * Search Page
 */
.overlay{
    display:none;
    position: absolute;
    background:rgba(0,0,0,.75);
    text-align:center;
    padding-top: 75%;
    opacity:0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    height: 100%;
    width: 100%;
    z-index: 9;
    margin-top: -10px;
    margin-left: -10px;
}

.search-result:hover .overlay{
    display: block;
    opacity:1;
}

.overlay .btn{
    width: 80%;
    margin-bottom: 10px;
}

.search-result-panel-heading{
    padding: 10px;
}

.modal-backdrop{
    height: 1000%;
    overflow: hidden !important;
    z-index: 1031;
}

.modal-vertical-centered {
  transform: translate(0, 100%) !important;
  -ms-transform: translate(0, 100%) !important; /* IE 9 */
  -webkit-transform: translate(0, 100%) !important; /* Safari and Chrome */
}

.dataTables_filter{
    display: none !important;
}

.input-error{
    border-color: #f04124;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}


.input-error:focus{
    border-color: #f04124;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/* ---------- 404 Page ---------- */
#error-container{
    height: auto;
    min-height: 100%;
    padding:0;
    transition: all 0.4s ease 0s;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-message{
    font-size: 12em !important;
}

.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}

.error-actions .btn { 
    margin-right:10px; 
}

